{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About : Clean Works Hospitality : Cleaning Services : Doha - Qatar</title>
      <meta name="description" content="At Clean Works Hospitality, our journey is guided by a passion for cleanliness and a dedication to our clients in Qatar. We're not just another cleaning service – we're your partners in creating healthier, happier spaces.">
  <meta name="keywords" content="Clean works hospitality, doha, qatar">
  <meta name="author" content="Weblanza">

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<!-- master stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="42x42">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16">

    <!-- <?php include('head.php'); ?> -->
    {% include 'head.html' %}
    
</head>

<body>
<div class="boxed_wrapper">


{% include 'header.html' %}
                            
<section class="breadcrumb-area" style="background-image:url({% static 'images/resources/breadcrumb-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center clearfix">
                    <div class="breadcrumb-menu">
                        <ul class="clearfix">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>    
                    </div>
                    <div class="title">
                       <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

    <section class="benefits-area secpd1">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="benefits-image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="{% static 'images/resources/benefits.jpg' %}" alt="Awesome Image">
                </div>    
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="benefits-text-box">
                    <div class="sec-title pb-3">
                        <div class="title">About Us</div>
                    </div>
                    <div class="inner-content">
                        <p>Clean Works Hospitality is more than just a cleaning service; we're your trusted cleaning 
companion in Qatar. Our story began with a vision to make homes and businesses shine, and our 
journey is marked by a relentless commitment to excellence. We believe in the power of 
cleanliness to enhance your quality of life, and that's why we leave no corner untouched in our 
pursuit of perfection. Our team is not just experienced; they're passionate about creating spaces 
that inspire and rejuvenate. As we continue to grow, we remain rooted in our core values of 
reliability, professionalism, and environmental responsibility.</p>
                        <p>We are here to provide you with cleaning services that go beyond the surface. We understand 
that a clean environment is the foundation of a healthy, happy life, and we're here to ensure that 
foundation is strong. Clean Works Hospitality is more than a name; it's a promise of cleanliness 
that you can trust. We invite you to explore our services and experience the difference. Let us 
transform your spaces into havens of cleanliness and well-being, one room at a time. Join us in 
our journey to redefine clean in Qatar, and together, we'll create spaces that inspire and 
rejuvenate.</p>
                        
                    </div> 
                </div>    
            </div>
        </div>  
    </div>
</section>
    
    

 

<!--Start choose area--> 
<section class="choose-area" style="background-image:url({% static 'images/resources/choose-bg.jpg' %});">
    <div class="container">
       
        <div class="row">
            <div class="col-xl-12">
                <ul class="choose-content fix">
                    <li class="single-choose-box p-4 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" style="width:45%">
                        <span class="flaticon-medal"></span> 
                        <h4>Mission</h4>
                        <p>To safeguard and promote the health and well-being of our valued customers in Qatar by 
providing unparalleled cleaning services that create a hygienic, safe, and pristine living 
environment. We are committed to delivering excellence through eco-friendly practices, 
dedicated professionals, and innovative cleaning solutions.</p>
                    </li>
                    <li class="single-choose-box p-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms" style="width:45%">
                        <span class="flaticon-calendar"></span> 
                        <h4>Vision</h4>
                        <p>To be the foremost cleaning service provider in Qatar, recognized for our unwavering 
commitment to quality, sustainability, and customer satisfaction. We envision a future where 
Clean Works sets the standard for cleanliness and contributes to a cleaner, more sustainable 
world.</p>
                    </li>  
                         
                </ul>
            </div>
        </div>
        
    </div>
</section>     
<!--End choose area-->

<!--Start footer area-->  
    <?php include'footer.php' ;?> 
    {% include 'footer.html' %}


</div>  

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target thm-bg-clr" data-target="html"><span class="fa fa-angle-up"></span></div>


<!-- main jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Wow Script -->
<script src="{% static 'js/wow.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- bx slider -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<!-- Fancybox Script -->
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<!-- count to -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.js' %}"></script>
<!-- validate -->
<script src="{% static 'js/validation.js' %}"></script>
<!-- mixit up -->
<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<!-- isotope script-->
<script src="{% static 'js/isotope.js' %}"></script>
<!-- Easing -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!-- thm custom script -->
<script src="{% static 'js/custom.js' %}"></script>



</body>
</html>