
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>After Party Cleaning Service : Clean Works Hospitality : Doha - Qatar</title>
    <meta name="description" content="At Clean Works Hospitality, our journey is guided by a passion for cleanliness and a dedication to our clients in Qatar. We're not just another cleaning service – we're your partners in creating healthier, happier spaces.">
    <meta name="keywords" content="Clean works hospitality, doha, qatar">
    <meta name="author" content="Weblanza">

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<!-- master stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="42x42">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16">

    {% include 'head.html' %}
    
</head>

<body>
<div class="boxed_wrapper">

{% include 'header.html' %}
                            
<section class="breadcrumb-area" style="background-image:url({% static 'images/resources/breadcrumb-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center clearfix">
                    <div class="breadcrumb-menu">
                        <ul class="clearfix">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Services</li>
                            <li class="active">After Party Cleaning</li>
                        </ul>    
                    </div>
                    <div class="title">
                       <h1>After Party Cleaning</h1>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<section class="single-service-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                <div class="single-service-sidebar">
                    <!--Start Single sidebar-->
                    <div class="single-sidebar">
                        <div class="service-sidebar-title">
                            <h3>SERVICES</h3>
                        </div>
                        <ul class="service-pages">
                            <li><a href="{% url 'resedential' %}">Residential Cleaning Services</a></li>
                            <li ><a href="{% url 'deep_cleaning' %}">Deep Cleaning Services</a></li>
                            <li><a href="{% url 'move_in_out' %}">Move in / Out Cleaning</a></li>
                            <li><a href="{% url 'outdoor' %}">Outdoor Cleaning</a></li>
                            <li class="active"><a href="{% url 'afterparty' %}">After Party Cleaning</a></li>
                            <li><a href="{% url 'water_tank' %}">Water Tank Cleaning</a></li>
                        </ul>
                    </div>
                    <!--End Single sidebar-->
                    <div class="sidebar-box-online text-center" style="background-image:url({% static 'images/resources/sidebar-box-online-bg.jpg' %});">
                        <h3>Book Online</h3>
                        <div class="title">Bringing Freshness to Every Corner of Qatar</div>
                    </div>
                </div>    
            </div>
            
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                <div class="single-service-top">
                    <div class="top-image-holder">
                        <img src="{% static 'images/services/5.jpg' %}" alt="After Party Cleaning">
                    </div>
                    <div class="sec-title-box">
                        <h1>After Party Cleaning</h1>
                    </div>
                    <div class="text">
                        <p>Hosting a party or event is a joyous occasion, but the aftermath can be overwhelming. That's 
where Clean Works Hospitality steps in with our after-party cleaning services. We understand 
that cleaning up after a gathering can be a time-consuming and exhausting task. Let us handle 
the mess while you relish the memories. Our after-party cleaning team specializes in restoring 
your space to its pre-event glory, ensuring a seamless transition back to cleanliness and order. 
Whether you had a small family gathering, a lively birthday bash, or a corporate event, we have 
the expertise to handle it all. We'll meticulously clean every area, from clearing away food and 
drink remnants to tidying up decorations and ensuring your space is spotless.</p>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Removal of party decorations and litter</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Cleaning and sanitization of all surfaces used during the event
</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Glassware and dishwashing</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Floor cleaning and stain removal</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Trash and recycling disposal</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Furniture rearrangement and cleaning</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Bathroom cleaning and restocking</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Kitchen cleaning and disposal of leftover food
</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>   Removal of drink spills and stains
</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Quick vacuum or sweep of the party area</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>  Restoring the space to its pre-party condition</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </div>    
</section>  
  
<!--Start footer area-->  
    {% include 'footer.html' %}


</div>  

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target thm-bg-clr" data-target="html"><span class="fa fa-angle-up"></span></div>


<!-- main jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Wow Script -->
<script src="{% static 'js/wow.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- bx slider -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<!-- Fancybox Script -->
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<!-- count to -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.js' %}"></script>
<!-- validate -->
<script src="{% static 'js/validation.js' %}"></script>
<!-- mixit up -->
<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<!-- isotope script-->
<script src="{% static 'js/isotope.js' %}"></script>
<!-- Easing -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!-- thm custom script -->
<script src="{% static 'js/custom.js' %}"></script>



</body>
</html>