{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Service Fee : Clean Works Hospitality : cleaning services : Doha - Qatar</title>
      <meta name="description" content="At Clean Works Hospitality, our journey is guided by a passion for cleanliness and a dedication to our clients in Qatar. We're not just another cleaning service – we're your partners in creating healthier, happier spaces.">
  <meta name="keywords" content="Clean works hospitality, doha, qatar">
  <meta name="author" content="Weblanza">

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<!-- master stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="42x42">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16">

    <!-- <?php include('head.php'); ?> -->
    {% include 'head.html' %}
    
</head>

<body>
<div class="boxed_wrapper">

<!-- <?php include'header.php' ;?>  -->
{% include 'header.html' %}

<Style>
    .sec-title .title {
        font-size:30px;
    }
</Style>
                            
<section class="breadcrumb-area" style="background-image:url({% static 'images/resources/breadcrumb-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center clearfix">
                    <div class="breadcrumb-menu">
                        <ul class="clearfix">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">Service Fee</li>
                        </ul>    
                    </div>
                    <div class="title">
                       <h1>Service Fee</h1>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>


<section class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title pb-3">
                    <div class="title">Fees By Rooms</div>
                </div>
            </div>
            <div class="col-lg-12  table-responsive">
                <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
      <thead class="thead-dark">
         <tr>
            <th>Move IN/OUT Cleaning <br>(Not Including Furniture Cleaning)</th>
            <th>Studio</th>
            <th>1 Bedroom</th>
            <th>2 Bedroom</th>
            <th>3 Bedroom</th>
            <th>4 Bedroom</th>
            <th>5 Bedroom</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>Apartment / Villa</td>
            <td class="align-center">QAR 500</td>
            <td class="align-center">QAR 750</td>
            <td class="align-center">QAR 950</td>
            <td class="align-center">QAR 1200</td>
            <td class="align-center">QAR 1500</td>
            <td class="align-center">QAR 2000</td>
         </tr>
      </tbody>
   </table>
   <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
       <thead class="thead-dark">
            <tr>
                <th>Deep Cleaning <br>(Including Furniture Cleaning)</th>
                <th>Studio</th>
                <th>1 Bedroom</th>
                <th>2 Bedroom</th>
                <th>3 Bedroom</th>
                <th>4 Bedroom</th>
                <th>5 Bedroom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Apartment / Villa</td>
                <td class="align-center">QAR 650</td>
                <td class="align-center">QAR 900</td>
                <td class="align-center">QAR 1100</td>
                <td class="align-center">QAR 1400</td>
                <td class="align-center">QAR 1800</td>
                <td class="align-center">QAR 2400</td>
            </tr>
        </tbody>
   </table>
            </div>
        </div>
        
        <hr class="mtb-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title pb-3">
                    <div class="title">Fees By The Hour</div>
                </div>
            </div>
            <div class="col-lg-12">

<table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
      <thead class="thead-dark">
         <tr>
            <th>Service Type</th>
            <th class="align-center">Regular Hour Rate</th>
            <th>Remarks</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>Regular Cleaning without Material</td>
            <td class="align-center">QAR 35</td>
            <td>min 4 hours</td>
         </tr>
         <tr>
            <td>Regular Cleaning with Material</td>
            <td class="align-center">QAR 45</td>
            <td>min 4 hours</td>
         </tr>
         <tr>
            <td>Deep/Spring Cleaning</td>
            <td class="align-center">QAR 60</td>
            <td>min 4 hours</td>
         </tr>
         <tr>
            <td>Move In Cleaning</td>
            <td class="align-center">QAR 60</td>
            <td>min 4 hours</td>
         </tr>
         <tr>
            <td>Outdoor Cleaning</td>
            <td class="align-center">QAR 60</td>
            <td>min 4 hours</td>
         </tr>
         <tr>
            <td>Steam Cleaning Sanitizing</td>
            <td class="align-center">QAR 65</td>
            <td>min 4 hours</td>
         </tr>
         <tr>
            <td>Maintenence / Handyman</td>
            <td class="align-center">QAR 100</td>
            <td>min 3 hours</td>
         </tr>
         <tr>
            <td>Sofa Cleaning</td>
            <td class="align-center">Starting Price: QAR 100</td>
            <td></td>
         </tr>
         <tr>
            <td>Carpet Cleaning</td>
            <td class="align-center">QAR 100 / each</td>
            <td></td>
         </tr>
      </tbody>
   </table>
            </div>
        </div>
        
        <hr class="mtb-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-title pb-3">
                    <div class="title">Pest Control </div>
                </div>
            </div>
            <div class="col-lg-12">
                <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
      <thead class="thead-dark">
         <tr>
            <th style="width:30%;">Unit</th>
            <th style="width:35%;" class="align-center">Without Warranty</th>
            <th style="width:35%;" class="align-center">With Warranty</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>Studio</td>
            <td></td>
            <td class="align-center">QAR 200</td>
         </tr>
         <tr>
            <td>1BHK</td>
            <td></td>
            <td class="align-center">QAR 250</td>
         </tr>
         <tr>
            <td>2BHK</td>
            <td class="align-center">QAR 286</td>
            <td class="align-center">QAR 350</td>
         </tr>
         <tr>
            <td>3BHK</td>
            <td class="align-center">QAR 325</td>
            <td class="align-center">QAR 450</td>
         </tr>
         <tr>
            <td>4BHK</td>
            <td class="align-center">QAR 455</td>
            <td class="align-center">QAR 600</td>
         </tr>
         <tr>
            <td>5BHK</td>
            <td class="align-center">QAR 520</td>
            <td class="align-center">QAR 750</td>
         </tr>
      </tbody>
   </table>
            </div>
        </div>
        
    </div>
</section>

  
<!--Start footer area-->  
    <?php include'footer.php' ;?> 
    {% include 'footer.html' %}


</div>  

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target thm-bg-clr" data-target="html"><span class="fa fa-angle-up"></span></div>


<!-- main jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Wow Script -->
<script src="{% static 'js/wow.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- bx slider -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<!-- Fancybox Script -->
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<!-- count to -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.js' %}"></script>
<!-- validate -->
<script src="{% static 'js/validation.js' %}"></script>
<!-- mixit up -->
<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<!-- isotope script-->
<script src="{% static 'js/isotope.js' %}"></script>
<!-- Easing -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!-- thm custom script -->
<script src="{% static 'js/custom.js' %}"></script>



</body>
</html>